/target
.aider*
crdt
/tests.cpp.bin
/crdt
crdt.dSYM
.DS_Store
list-crdt*
obj
bin
TestResult.xml
.vscode/
*.diff
build*/
test_auto_merge_debug
test_auto_merge_debug.cpp
test_diff_debug
test_diff_debug.cpp
test-text-crdt
